name: frontend

on:
  # push:
  #   branches: ["main"]
  workflow_dispatch:

    
jobs:
  CI:
    name: CI
    runs-on: self-hosted

    defaults:
        run:
          working-directory: ./application/frontend/

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Image
        run: docker build -t ghcr.io/abhishekg2244/frontend:latest .
       

      - name: Push Image
        run: docker push ghcr.io/abhishekg2244/frontend:latest .

  # deploy:
  #   needs: build-push
  #   runs-on: ubuntu-latest

  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v4

  #     - name: Set kubeconfig
  #       run: |
  #         mkdir -p ~/.kube
  #         echo "${{ secrets.MINIKUBE_KUBECONFIG }}" > ~/.kube/config

  #     - name: Deploy to Minikube
  #       run: |
  #         kubectl set image deployment/todo-deployment todo-app=ghcr.io/${{ github.repository_owner }}/todo-app:latest
