name: Terraform
on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Select environment to deploy"
        required: true
        type: choice
        options:
          - preprod
          - prod


permissions:
  id-token: write
  contents: read

jobs:
  terraform:
    name: Terraform Deployment
    runs-on: self-hosted
    defaults:
      run:
        working-directory: ./infra/environment/${{ github.event.inputs.environment }}

    
    steps:

      # Step 1 – Checkout the repo
      - name: Checkout
        uses: actions/checkout@v4

      # Step 2 – Login to Azure
      - name: Login to Azure using OIDC
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      # Step 3 – Terraform Init
      - name: Terraform Init
        run: terraform init
        shell: pwsh        # since you are using Windows self-hosted runner

      # Step 4 – Terraform Plan
      - name: Terraform Plan
        run: terraform plan
        shell: pwsh

      # # Step 5 – Terraform Apply (after manual approval)
      # - name: Terraform Apply
      #   run: terraform apply -auto-approve
      #   shell: pwsh
